.form {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; 
}

.link {
    text-decoration: none; 
    color: #333; 
    font-size: 28px; 
    padding: 10px 20px; /* Espacio entre texto y borde */
    border: 1px solid #ccc; /* Borde con color */
    border-radius: 5px; /* Borde redondeado */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.link:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el mouse */
    border-color: #999; /* Cambio de color del borde al pasar el mouse */
}