.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hr{
    height: 5px; /* Ajusta el valor para el grosor deseado */
    background-color: #3a2424; /* Color de fondo del hr */
    border-radius: 15px; /* Elimina el borde predeterminado */
}